#page-user-profile .node_category li,
.path-user .node_category li {
  margin-top: 5px;
}

#page-user-profile .node_category ul,
.path-user .node_category ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#page-user-profile .node_category .editprofile,
#page-user-profile .node_category .viewmore,
.path-user .node_category .editprofile,
.path-user .node_category .viewmore {
  text-align: left;
}

#page-user-profile .messagebox {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}